li {
  margin: 15px;
}

.definitions {
  float: right;
}

.def0-visible {
  display: none;
}

.def1-visible {
  display: none;
}

.def2-visible {
  display: none;
}

.def3-visible {
  display: none;
}

.def4-visible {
  display: none;
}

.def5-visible {
  display: none;
}

.def6-visible {
  display: none;
}

.def7-visible {
  display: none;
}

.def8-visible {
  display: none;
}

.def9-visible {
  display: none;
}

.def10-visible {
  display: none;
}

.def11-visible {
  display: none;
}

.def12-visible {
  display: none;
}

.def13-visible {
  display: none;
}

.def14-visible {
  display: none;
}

.def15-visible {
  display: none;
}

.def16-visible {
  display: none;
}

.def17-visible {
  display: none;
}

.def18-visible {
  display: none;
}

ul {
  list-style: none;
}
